@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@keyframes mainTitle {
  0% {
    opacity: 0;
    left: 5%; }
  100% {
    opcacity: 1;
    left: 8%; } }

@keyframes buttonUpdown {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html,
body {
  font-size: 62.5%;
  font-family: "Kalam", "Noto Sans TC", sans-serif;
  overflow-x: hidden; }

@media (max-width: 1200px) {
  html,
  body {
    font-size: 50%; } }

@media (max-width: 900px) {
  html,
  body {
    font-size: 45%; } }

@media (max-width: 600px) {
  html,
  body {
    font-size: 40%; } }

.secondary-heading {
  font-size: 3.7rem;
  transition: all 0.3s;
  display: inline-block; }
  .secondary-heading:hover {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.2); }
  @media (max-width: 600px) {
    .secondary-heading {
      font-size: 2.9rem; } }

.container {
  max-width: 60vw;
  margin: 0 auto; }

.u-margin-top-small {
  margin-top: 2rem; }
  @media (max-width: 900px) {
    .u-margin-top-small {
      margin-top: 1.5rem; } }

.u-margin-top-medium {
  margin-top: 4rem; }
  @media (max-width: 900px) {
    .u-margin-top-medium {
      margin-top: 3.5rem; } }

.u-margin-top-big {
  margin-top: 6rem; }
  @media (max-width: 900px) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.u-margin-top-tech {
  margin-top: 17vh; }
  @media (max-width: 900px) {
    .u-margin-top-tech {
      margin-top: 15vh; } }

.u-margin-right-small {
  margin-right: 2rem; }

.u-margin-right-medium {
  margin-right: 4rem; }

.u-margin-right-big {
  margin-right: 6rem; }

.u-margin-left-small {
  margin-left: 2rem; }

.u-margin-left-medium {
  margin-left: 4rem; }

.u-margin-left-big {
  margin-left: 6rem; }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 1rem 4.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 2.5rem;
  transition: all 0.2s;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  font-weight: bold; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.8); }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.4);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.5); }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 2.5rem;
    transition: all 0.5s; }
  .btn--animate {
    animation: buttonUpdown 1s ease-out 0.75s backwards; }
  .btn--brown-1 {
    background-color: #dcc1b0; }
    .btn--brown-1::after {
      background-color: #dcc1b0; }
  .btn--brown-2 {
    background-color: #bd8e62; }
    .btn--brown-2::after {
      background-color: #bd8e62; }
  @media (max-width: 900px) {
    .btn {
      padding: 0.8rem 2rem;
      font-size: 1rem; } }

.about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly; }
  .about__card {
    position: relative;
    perspective: 150rem;
    width: 25rem;
    height: 40rem; }
    .about__card__side {
      position: absolute;
      backface-visibility: hidden;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
      transition: all 0.7s ease-in; }
      .about__card__side--front {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(-40deg, rgba(220, 193, 176, 0.8) 35%, rgba(234, 214, 189, 0.6) 65%); }
      .about__card__side--back {
        padding: 1.5rem 2rem;
        transform: rotateY(-180deg);
        background-image: linear-gradient(-40deg, rgba(189, 142, 98, 0.8) 35%, rgba(164, 104, 67, 0.6) 65%); }
    .about__card:hover .about__card__side--front {
      transform: rotateY(180deg); }
    .about__card:hover .about__card__side--back {
      transform: rotateY(0); }
  .about__avatar {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    overflow: hidden; }
    .about__avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .about__heading {
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 0.7rem; }
    .about__heading2 {
      font-size: 2rem; }
  .about__innerText {
    display: flex;
    align-items: center; }
    .about__innerText img {
      width: 2rem;
      margin-right: 1.5rem; }
  .about__ul {
    list-style-type: none;
    font-size: 1.5rem; }
  .about__li {
    padding: 1rem; }
    .about__li:not(:last-child) {
      border-bottom: 2px solid #dcc1b0; }
  .about__right {
    max-width: 40%; }
    @media (max-width: 600px) {
      .about__right {
        max-width: 85%;
        margin-bottom: 5rem; } }
  .about__text {
    font-size: 1.8rem;
    line-height: 3.5rem; }
  @media (max-width: 600px) {
    .about {
      flex-direction: column-reverse;
      align-items: center; } }

.tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  bottom: -4rem;
  right: 50%;
  transform: translateX(50%);
  height: 3rem;
  padding: 4px 8px;
  background-color: #000;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.5s; }
  @media (max-width: 600px) {
    .tooltip {
      padding: 3px; } }

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-weight: 400;
  padding: 3rem 6rem;
  transform: skewX(-15deg);
  box-shadow: 0 3px 6rem rgba(0, 0, 0, 0.3); }
  .project > * {
    transform: skewX(16deg); }
    @media (max-width: 900px) {
      .project > * {
        transform: skew(0deg); } }
  .project__shape {
    flex-shrink: 0;
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden; }
    .project__shape:hover .project__image {
      transform: scale(1);
      filter: blur(5px); }
    .project__shape:hover .project__image2 {
      opacity: 1;
      transform: translate(-50%, -80%); }
    .project__shape:hover a {
      opacity: 1;
      transform: translate(-50%, 60%); }
    @media (max-width: 900px) {
      .project__shape {
        width: 20rem;
        height: 20rem; } }
  .project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    transform: scale(1.2); }
  .project__caption {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
    .project__caption img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      opacity: 0;
      width: 21rem;
      transition: all 0.5s; }
      @media (max-width: 900px) {
        .project__caption img {
          width: 15rem; } }
    .project__caption a {
      width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 150%);
      opacity: 0;
      transition: all 0.5s; }
      .project__caption a:hover {
        transform: translate(-50%, 60%) translateY(-0.5rem); }
      .project__caption a:active {
        transform: translate(-50%, 60%) translateY(-0.2rem); }
  .project__link, .project__link:visited, .project__link:link {
    display: inline-block;
    font-size: 2.2rem;
    text-decoration: none;
    color: #000;
    float: right;
    transition: all 0.3s; }
  .project__link:hover {
    color: rosybrown; }
  .project__text {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1, 1) skewX(16deg); }
    @media (max-width: 900px) {
      .project__text {
        margin-top: 2.5rem;
        font-size: 1rem;
        -webkit-transform: translateZ(0) scale(1, 1); } }
  @media (max-width: 900px) {
    .project {
      flex-direction: column;
      transform: skew(0deg);
      border-radius: 15px;
      padding: 2rem 2rem; } }

.formSection {
  width: 80%;
  margin: 0 auto; }
  .formSection-1 {
    display: flex; }
    @media (max-width: 600px) {
      .formSection-1 {
        flex-direction: column; } }

.form-group {
  position: relative;
  width: 100%;
  padding: 2rem; }

.form-input {
  border: none;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s;
  font-size: 1.6rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2); }
  .form-input:focus {
    outline: none;
    box-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid limegreen; }
    .form-input:focus:invalid {
      border-bottom: 4px solid orangered; }
    .form-input:focus::placeholder {
      opacity: 0; }
  .form-input:not(:placeholder-shown):valid {
    border-bottom: 4px solid limegreen; }
  .form-input:not(:placeholder-shown):invalid {
    border-bottom: 4px solid orangered; }
  .form-input::placeholder {
    transition: all 0.5s;
    color: lightgray; }

.form-label {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  opacity: 0;
  left: 4rem;
  top: 2rem;
  transition: all 0.5s; }

.form-btn {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  border: none; }

@media (max-width: 600px) {
  .form-sendIcon {
    width: 3rem; } }

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  opacity: 1;
  transform: translateY(-3rem); }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(116, 116, 116, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  overflow: scroll; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup-content {
    opacity: 1;
    transform: scale(1); }
  .popup-content {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 1.3rem 2rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s 0.2s; }
    @media (max-width: 1200px) {
      .popup-content {
        width: 85%;
        height: 80vh;
        flex-direction: column; } }
  .popup-left {
    position: relative;
    overflow: hidden;
    flex-basis: 60%; }
    @media (max-width: 1200px) {
      .popup-left {
        min-height: 50rem; } }
    @media (max-width: 600px) {
      .popup-left {
        min-height: 40rem; } }
  .popup-backIcon {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease-in;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%); }
    .popup-backIcon:hover {
      transform: translateY(-50%) scale(1.3); }
    @media (max-width: 600px) {
      .popup-backIcon {
        width: 3rem; } }
  .popup-nextIcon {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease-in;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); }
    .popup-nextIcon:hover {
      transform: translateY(-50%) scale(1.3); }
    @media (max-width: 600px) {
      .popup-nextIcon {
        width: 3rem; } }
  .popup-imageGallery {
    position: relative;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    transition: all 0.3s; }
  .popup-image {
    object-fit: contain;
    transition: all 0.5s; }
    .popup-image25 {
      width: 25%; }
  .popup-right {
    max-width: 40%;
    margin: 0 3rem; }
    @media (max-width: 1200px) {
      .popup-right {
        max-width: 100%;
        width: 80%;
        margin-top: 5rem; } }
  .popup-text {
    font-size: 1.8rem;
    line-height: 3.4rem; }
  .popup-subtitle {
    font-size: 2.3rem; }
  .popup-close:link, .popup-close:visited {
    display: inline-block;
    position: absolute;
    right: 3rem;
    top: 2rem;
    cursor: pointer;
    z-index: 25; }
  @media (max-width: 1200px) {
    .popup-close img {
      width: 2.5rem; } }
  @media (max-width: 600px) {
    .popup-close img {
      width: 2rem; } }
  .popup-total4 {
    width: 400%; }

.header__logo {
  cursor: pointer;
  width: 9rem; }

.header__nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  padding: 1.5rem 0;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s;
  z-index: 50;
  background-color: #ebe5d9;
  box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.3); }
  @media (max-width: 600px) {
    .header__nav {
      justify-content: space-around; } }

.header__ul {
  display: flex;
  list-style-type: none; }
  .header__ul__a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.7rem;
    color: #bb7748;
    transition: all 0.2s ease-out; }
    .header__ul__a:hover {
      color: #ffb471;
      transform: translateY(-0.3rem); }
      .header__ul__a:hover::after, .header__ul__a:hover::before {
        transform: scale(1); }
    .header__ul__a::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      background-color: #ffb471;
      width: 100%;
      height: 0.2rem;
      border-radius: 1.5rem;
      transform: scale(0);
      transition: all 0.5s; }
    .header__ul__a::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0;
      background-color: #ffb471;
      width: 100%;
      height: 0.2rem;
      border-radius: 1.5rem;
      transform: scale(0);
      transition: all 0.5s; }
  .header__ul li {
    padding: 2rem; }
  @media (max-width: 600px) {
    .header__ul {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center; } }

.header__main {
  position: relative;
  height: 93vh;
  width: 100%;
  background-color: gray;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6) 16%, transparent 25%), url("./images/me.jpeg");
  background-size: cover;
  background-position: center center;
  margin-top: 7rem;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 93vh);
  z-index: 5; }
  .header__main__title {
    position: absolute;
    bottom: 35%;
    width: 40rem;
    height: 17rem;
    display: grid;
    place-items: center;
    font-size: 2.7rem;
    animation: mainTitle 1.2s forwards;
    letter-spacing: 0.5rem;
    color: white; }
    @media (max-width: 900px) {
      .header__main__title {
        font-size: 2.2rem; } }
    @media (max-width: 600px) {
      .header__main__title {
        font-size: 1.8rem;
        bottom: 25%;
        width: 30rem; } }
  @media (max-width: 900px) {
    .header__main {
      height: 75vh;
      clip-path: polygon(0 0, 100% 0, 100% 67vh, 0 75vh); } }
  @media (max-width: 600px) {
    .header__main {
      height: 63vh;
      clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 63vh); } }

.menu {
  display: none;
  width: 3rem;
  cursor: pointer; }
  @media (max-width: 600px) {
    .menu {
      display: inline-block; } }

.sidebar {
  height: 100vh;
  width: 100%;
  background-color: rgba(116, 116, 116, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden; }
  .sidebar__content {
    padding: 3rem 0;
    width: 28%;
    background-color: #ebe5d9;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.2s;
    transform-origin: right; }
  .sidebar .header__ul {
    display: flex; }
  .sidebar.visible {
    opacity: 1;
    visibility: visible; }
  .sidebar.visible .sidebar__content {
    opacity: 1;
    transform: scaleX(1); }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #747474; }
  .footer-image {
    width: 10rem; }
    @media (max-width: 600px) {
      .footer-image {
        width: 8rem; } }
  .footer-right {
    font-size: 1.8rem; }
    .footer-right img {
      width: 4rem; }

.aboutMeSection {
  padding-top: 7rem;
  padding-bottom: 8rem; }
  @media (max-width: 600px) {
    .aboutMeSection {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem; } }

.technology {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 8rem;
  width: 100%;
  z-index: 0;
  overflow-x: hidden;
  background-color: #ece4e2; }
  .technology__box {
    display: flex;
    position: relative;
    width: 300%;
    height: 100%;
    right: 100%;
    transition: all 0.5s ease-in-out; }
  .technology__skill {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column; }
    .technology__skill__title {
      display: flex;
      justify-content: center;
      align-items: center; }
  .technology__composition {
    width: 100%;
    height: 100%; }
    .technology__composition__box {
      position: relative;
      width: 8rem;
      height: 8rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: white;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(204, 201, 201, 0.3));
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      transition: all 0.2s ease-in; }
      .technology__composition__box:hover {
        transform: scale(1.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        z-index: 20; }
        .technology__composition__box:hover .tooltip {
          opacity: 1; }
      @media (max-width: 600px) {
        .technology__composition__box {
          width: 6.5rem;
          height: 6.5rem; } }
    .technology__composition__image {
      width: 100%;
      height: 100%; }
  .technology__dotBox {
    position: absolute;
    bottom: 3.5rem;
    width: 100%; }
    .technology__dotBox__dot {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: lightgray;
      cursor: pointer;
      transition: all 0.3s; }
      @media (max-width: 600px) {
        .technology__dotBox__dot {
          width: 1rem;
          height: 1rem; } }
    @media (max-width: 600px) {
      .technology__dotBox {
        bottom: 4rem; } }
  .technology-backIcon {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease-in;
    left: 40rem;
    top: 50%;
    transform: translateY(-50%); }
    .technology-backIcon:hover {
      transform: scale(1.3) translateX(-0.5rem) translateY(-50%); }
    @media (max-width: 1200px) {
      .technology-backIcon {
        width: 3.5rem; } }
    @media (max-width: 900px) {
      .technology-backIcon {
        left: 20rem; } }
    @media (max-width: 600px) {
      .technology-backIcon {
        left: 3rem;
        width: 3rem; } }
  .technology-nextIcon {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease-in;
    right: 40rem;
    top: 50%;
    transform: translateY(-50%); }
    .technology-nextIcon:hover {
      transform: scale(1.3) translateX(0.5rem) translateY(-50%); }
    @media (max-width: 1200px) {
      .technology-nextIcon {
        width: 3.5rem; } }
    @media (max-width: 900px) {
      .technology-nextIcon {
        right: 20rem; } }
    @media (max-width: 600px) {
      .technology-nextIcon {
        right: 3rem;
        width: 3rem; } }
  @media (max-width: 600px) {
    .technology {
      padding-top: 3rem; } }

.projectSection {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(./images/bgImage.png);
  background-size: cover;
  background-position: 50% 13%;
  background-repeat: no-repeat; }
  @media (max-width: 900px) {
    .projectSection {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem; } }

.contactSection {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: #ece4e2; }
  @media (max-width: 900px) {
    .contactSection {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem; } }
