@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@keyframes mainTitle {
  0% {
    opacity: 0;
    left: 5%; }
  100% {
    opcacity: 1;
    left: 8%; } }

@keyframes buttonUpdown {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html,
body {
  font-size: 62.5%;
  font-family: "Kalam", "Noto Sans TC", sans-serif;
  overflow-x: hidden; }

.secondary-heading {
  font-size: 3.7rem;
  transition: all 0.3s;
  display: inline-block; }
  .secondary-heading:hover {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.2); }

.container {
  max-width: 60vw;
  margin: 0 auto; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-tech {
  margin-top: 17vh; }

.u-margin-right-small {
  margin-right: 2rem; }

.u-margin-right-medium {
  margin-right: 4rem; }

.u-margin-right-big {
  margin-right: 6rem; }

.u-margin-left-small {
  margin-left: 2rem; }

.u-margin-left-medium {
  margin-left: 4rem; }

.u-margin-left-big {
  margin-left: 6rem; }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 1rem 4.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 2.5rem;
  transition: all 0.2s;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  font-weight: bold; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.8); }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.4);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.5); }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 2.5rem;
    transition: all 0.5s; }
  .btn--animate {
    animation: buttonUpdown 1s ease-out 0.75s backwards; }
  .btn--brown-1 {
    background-color: #dcc1b0; }
    .btn--brown-1::after {
      background-color: #dcc1b0; }
  .btn--brown-2 {
    background-color: #bd8e62; }
    .btn--brown-2::after {
      background-color: #bd8e62; }

.tooltip {
  position: absolute;
  white-space: nowrap;
  bottom: -4rem;
  right: 50%;
  transform: translateX(50%);
  height: 3rem;
  padding: 4px 8px;
  background-color: #000;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.5s; }

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-weight: 400;
  padding: 3rem 6rem;
  transform: skewX(-15deg);
  box-shadow: 0 3px 6rem rgba(0, 0, 0, 0.3); }
  .project > * {
    transform: skewX(16deg); }
  .project__shape {
    flex-shrink: 0;
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden; }
    .project__shape:hover .project__image {
      transform: scale(1);
      filter: blur(5px); }
    .project__shape:hover .project__image2 {
      opacity: 1;
      transform: translate(-50%, -80%); }
    .project__shape:hover a {
      opacity: 1;
      transform: translate(-50%, 60%); }
  .project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    transform: scale(1.2); }
  .project__caption {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
    .project__caption img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      opacity: 0;
      width: 21rem;
      height: 11rem;
      transition: all 0.5s; }
    .project__caption a {
      width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 150%);
      opacity: 0;
      transition: all 0.5s; }
      .project__caption a:hover {
        transform: translate(-50%, 60%) translateY(-0.5rem); }
      .project__caption a:active {
        transform: translate(-50%, 60%) translateY(-0.2rem); }
  .project__text {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1, 1) skewX(16deg); }

.formSection {
  width: 80%;
  margin: 0 auto; }
  .formSection-1 {
    display: flex; }

.form-group {
  position: relative;
  width: 100%;
  padding: 2rem; }

.form-input {
  border: none;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s;
  font-size: 1.6rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2); }
  .form-input:focus {
    outline: none;
    box-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid limegreen; }
    .form-input:focus:invalid {
      border-bottom: 4px solid orangered; }
    .form-input:focus::placeholder {
      opacity: 0; }
  .form-input:not(:placeholder-shown):valid {
    border-bottom: 4px solid limegreen; }
  .form-input:not(:placeholder-shown):invalid {
    border-bottom: 4px solid orangered; }
  .form-input::placeholder {
    transition: all 0.5s;
    color: lightgray; }

.form-label {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  opacity: 0;
  left: 4rem;
  top: 2rem;
  transition: all 0.5s; }

.form-btn {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  border: none; }

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  opacity: 1;
  transform: translateY(-3rem); }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(116, 116, 116, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup-content {
    opacity: 1;
    transform: scale(1); }
  .popup-content {
    padding: 1rem;
    display: flex;
    width: 75%;
    height: 85rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1.3rem 2rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s 0.2s; }
  .popup-left {
    position: relative;
    flex-basis: 60%; }
  .popup-left:hover .popup-image:not(:hover) {
    transform: scale(0.9); }
  .popup-image {
    width: 50rem;
    object-fit: cover;
    position: absolute;
    transition: all 0.5s;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); }
    .popup-image:hover {
      z-index: 50;
      transform: scale(1.2);
      outline: 5px solid green;
      outline-offset: 5px; }
    .popup-image-1 {
      top: 1rem;
      left: 1rem;
      transform-origin: left top; }
    .popup-image-2 {
      top: 20rem;
      right: 5%;
      transform-origin: right 50%; }
    .popup-image-3 {
      bottom: 20rem;
      left: 1rem;
      transform-origin: left 50%; }
    .popup-image-4 {
      bottom: 1rem;
      right: 5%;
      transform-origin: bottom right; }
  .popup-right {
    max-width: 40%; }
  .popup-text {
    font-size: 1.8rem;
    line-height: 3.4rem; }
  .popup-close:link, .popup-close:visited {
    display: inline-block;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer; }

.header__logo {
  cursor: pointer;
  width: 9rem; }

.header__nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  padding: 1.5rem 0;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s;
  z-index: 50;
  background-color: #ebe5d9;
  box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.3); }

.header__ul {
  display: flex;
  list-style-type: none; }
  .header__ul__a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.7rem;
    color: #bb7748;
    transition: all 0.2s ease-out; }
    .header__ul__a:hover {
      color: #ffb471;
      transform: translateY(-0.3rem); }
      .header__ul__a:hover::after, .header__ul__a:hover::before {
        transform: scale(1); }
    .header__ul__a::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      background-color: #ffb471;
      width: 100%;
      height: 0.2rem;
      border-radius: 1.5rem;
      transform: scale(0);
      transition: all 0.5s; }
    .header__ul__a::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0;
      background-color: #ffb471;
      width: 100%;
      height: 0.2rem;
      border-radius: 1.5rem;
      transform: scale(0);
      transition: all 0.5s; }
  .header__ul li {
    padding: 2rem; }

.header__main {
  position: relative;
  height: 93vh;
  width: 100%;
  background-color: gray;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6) 16%, transparent 25%), url("./images/me.jpeg");
  background-size: cover;
  background-position: center center;
  margin-top: 7rem;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 93vh);
  z-index: 5; }
  .header__main__title {
    position: absolute;
    bottom: 35%;
    width: 40rem;
    height: 17rem;
    display: grid;
    place-items: center;
    font-size: 2.7rem;
    animation: mainTitle 1.2s forwards;
    letter-spacing: 0.5rem;
    color: white; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #747474; }
  .footer-image {
    width: 10rem; }
  .footer-right {
    font-size: 1.8rem; }
    .footer-right img {
      width: 4rem; }

.technology {
  position: relative;
  height: 60rem;
  width: 100%;
  margin-top: -14vh;
  z-index: 0;
  overflow-x: hidden;
  background-color: #ece4e2; }
  .technology__box {
    display: flex;
    position: relative;
    width: 300%;
    height: 100%;
    right: 100%;
    transition: all 0.5s ease-in-out; }
  .technology__skill {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column; }
    .technology__skill__title {
      display: flex;
      justify-content: center;
      align-items: center; }
  .technology__composition {
    width: 100%;
    height: 100%; }
    .technology__composition__box {
      position: relative;
      width: 8rem;
      height: 8rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: white;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(204, 201, 201, 0.3));
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease-in; }
      .technology__composition__box:hover {
        transform: scale(1.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        z-index: 20; }
        .technology__composition__box:hover .tooltip {
          opacity: 1; }
    .technology__composition__image {
      width: 100%;
      height: 100%; }
  .technology__dotBox {
    position: absolute;
    bottom: 4rem;
    width: 100%; }
    .technology__dotBox__dot {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: lightgray;
      cursor: pointer;
      transition: all 0.3s; }

.backIcon {
  cursor: pointer;
  transition: all 0.2s ease-in; }
  .backIcon:hover {
    transform: scale(1.3) translateX(-0.5rem); }

.nextIcon {
  cursor: pointer;
  transition: all 0.2s ease-in; }
  .nextIcon:hover {
    transform: scale(1.3) translateX(0.5rem); }

.projectSection {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(./images/bgImage.png);
  background-size: 100% 2000px;
  background-position: 50% 15%;
  background-repeat: no-repeat; }

.contactSection {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: #ece4e2; }
