@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@keyframes mainTitle {
  0% {
    opacity: 0;
    left: 5%; }
  100% {
    opcacity: 1;
    left: 8%; } }

@keyframes buttonUpdown {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  font-family: "Kalam", "Noto Sans TC", sans-serif; }

.secondary-heading {
  font-size: 2.5rem;
  transition: all 0.3s; }
  .secondary-heading:hover {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transform: skewX(5deg) skewY(-7deg); }

.container {
  max-width: 60vw;
  margin: 0 auto; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-tech {
  margin-top: 17vh; }

.u-margin-right-small {
  margin-right: 2rem; }

.u-margin-right-medium {
  margin-right: 4rem; }

.u-margin-right-big {
  margin-right: 6rem; }

.u-margin-left-small {
  margin-left: 2rem; }

.u-margin-left-medium {
  margin-left: 4rem; }

.u-margin-left-big {
  margin-left: 6rem; }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 1rem 4.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #ece4e2;
  border-radius: 2.5rem;
  transition: all 0.2s;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  outline: 1px solid #919191;
  outline-offset: -4px;
  font-weight: bold; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8); }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.4);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 2.5rem;
    background-color: #ece4e2;
    transition: all 0.5s; }
  .btn--animate {
    animation: buttonUpdown 1s ease-out 0.75s backwards; }

.header {
  width: 100%; }
  .header__logo {
    cursor: pointer;
    width: 17rem;
    height: 9rem; }
  .header__nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    padding: 1rem 0;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s;
    z-index: 50;
    background-color: #ebe5d9;
    box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.3); }
  .header__ul {
    display: flex; }
    .header__ul__a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      font-size: 1.7rem;
      color: #bb7748;
      transition: all 0.2s ease-out; }
      .header__ul__a:hover {
        color: #ffb471;
        transform: translateY(-0.3rem); }
        .header__ul__a:hover::after, .header__ul__a:hover::before {
          transform: scale(1); }
      .header__ul__a::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        background-color: #ffb471;
        width: 100%;
        height: 0.2rem;
        border-radius: 1.5rem;
        transform: scale(0);
        transition: all 0.5s; }
      .header__ul__a::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: 0;
        background-color: #ffb471;
        width: 100%;
        height: 0.2rem;
        border-radius: 1.5rem;
        transform: scale(0);
        transition: all 0.5s; }
    .header__ul li {
      padding: 2rem; }
  .header__main {
    position: relative;
    height: 93vh;
    width: 100%;
    background-color: gray;
    background-image: url("./images/me.jpeg");
    background-size: cover;
    background-position: center center;
    margin-top: 7rem;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 93vh);
    z-index: 5; }
    .header__main__title {
      position: absolute;
      bottom: 35%;
      width: 40rem;
      height: 17rem;
      display: grid;
      place-items: center;
      font-size: 2.7rem;
      animation: mainTitle 1.2s forwards;
      letter-spacing: 0.5rem;
      color: white; }

.technology {
  height: 67rem;
  width: 100%;
  margin-top: -18vh;
  z-index: 0;
  overflow-x: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 42rem, 0 60rem); }
  .technology__box {
    display: flex;
    position: relative;
    width: 300%;
    height: 100%;
    right: 100%;
    background-color: #f1f2f6;
    background: linear-gradient(to bottom, #f1f2f6 0%, #c9c6c6 74%);
    transition: all 0.5s ease-in-out; }
  .technology__skill {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column; }
    .technology__skill__title {
      display: flex;
      justify-content: center;
      align-items: center; }
  .technology__composition {
    width: 100%;
    height: 100%; }
    .technology__composition__box {
      width: 8rem;
      height: 8rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: white;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(204, 201, 201, 0.3));
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease-in; }
      .technology__composition__box:hover {
        transform: scale(1.3);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        z-index: 20; }
    .technology__composition__image {
      width: 100%;
      height: 100%; }

.backIcon {
  cursor: pointer;
  transition: all 0.2s ease-in; }
  .backIcon:hover {
    transform: scale(1.3) translateX(-0.5rem); }

.nextIcon {
  cursor: pointer;
  transition: all 0.2s ease-in; }
  .nextIcon:hover {
    transform: scale(1.3) translateX(0.5rem); }
