.about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

  &__card {
    position: relative;
    perspective: 150rem;
    width: 25rem;
    height: 40rem;

    &__side {
      position: absolute;
      backface-visibility: hidden;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      box-shadow: 0 1rem 1.5rem rgba($color-black, 0.3);
      transition: all 0.7s ease-in;

      &--front {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(
          -40deg,
          rgba(#dcc1b0, 0.8) 35%,
          rgba(#ead6bd, 0.6) 65%
        );
      }

      &--back {
        padding: 1.5rem 2rem;
        transform: rotateY(-180deg);
        background-image: linear-gradient(
          -40deg,
          rgba(#bd8e62, 0.8) 35%,
          rgba(#a46843, 0.6) 65%
        );
      }
    }

    &:hover &__side--front {
      transform: rotateY(180deg);
    }

    &:hover &__side--back {
      transform: rotateY(0);
    }
  }

  &__avatar {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__heading {
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 0.7rem;

    &2 {
      font-size: 2rem;
    }
  }

  &__innerText {
    display: flex;
    align-items: center;

    & img {
      width: 2rem;
      margin-right: 1.5rem;
    }
  }

  &__ul {
    list-style-type: none;
    font-size: 1.5rem;
  }

  &__li {
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 2px solid #dcc1b0;
    }
  }

  &__right {
    max-width: 40%;
    @include respond(phone) {
      max-width: 85%;
      margin-bottom: 5rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    line-height: 3.5rem;
  }

  @include respond(phone) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
