.btn {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 1rem 4.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 2.5rem;
  transition: all 0.2s;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  font-weight: bold;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);

    &::after {
      transform: scaleX(1.5) scaleY(1.4);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 2.5rem;
    transition: all 0.5s;
  }

  &--animate {
    animation: buttonUpdown 1s ease-out 0.75s backwards;
  }

  &--light {
    background-color: #ece4e2;

    &::after {
      background-color: #ece4e2;
    }
  }

  &--brown {
    background-color: #bd8e62;

    &::after {
      background-color: #bd8e62;
    }
  }
}
