@keyframes mainTitle {
  0% {
    opacity: 0;
    left: 5%;
  }
  100% {
    opcacity: 1;
    left: 8%;
  }
}

@keyframes buttonUpdown {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes aboutCard {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aboutRight {
  0% {
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aboutPhone {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
