*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-size: 62.5%;
  font-family: "Kalam", "Noto Sans TC", sans-serif;
  overflow-x: hidden;
}

@include respond(tab-land) {
  html,
  body {
    font-size: 50%;
  }
}

@include respond(tab-port) {
  html,
  body {
    font-size: 45%;
  }
}

@include respond(phone) {
  html,
  body {
    font-size: 40%;
  }
}

::selection {
  background-color: $color-brown-1;
}
