.container {
  max-width: 60vw;
  margin: 0 auto;
}

.u-margin-top-small {
  margin-top: 2rem;

  @include respond(tab-port) {
    margin-top: 1.5rem;
  }
}
.u-margin-top-medium {
  margin-top: 4rem;

  @include respond(tab-port) {
    margin-top: 3.5rem;
  }
}
.u-margin-top-big {
  margin-top: 6rem;

  @include respond(tab-port) {
    margin-top: 5rem;
  }
}

.u-margin-top-tech {
  margin-top: 17vh;

  @include respond(tab-port) {
    margin-top: 15vh;
  }
}

.u-margin-right-small {
  margin-right: 2rem;
}
.u-margin-right-medium {
  margin-right: 4rem;
}
.u-margin-right-big {
  margin-right: 6rem;
}

.u-margin-left-small {
  margin-left: 2rem;
}
.u-margin-left-medium {
  margin-left: 4rem;
}
.u-margin-left-big {
  margin-left: 6rem;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
