.technology {
  display: flex;
  position: relative;
  height: 55rem;
  width: 300%;
  right: 100%;
  background-color: #f1f2f6;
  background-image: linear-gradient(to bottom, #f1f2f6 0%, #c9c6c6 74%);
  transition: all 0.5s ease-in-out;
  margin-top: -18vh;
  z-index: 0;

  &__skill {
    width: calc(100% / 3);

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.backIcon {
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.3) translateX(-0.5rem);
  }
}

.nextIcon {
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.3) translateX(0.5rem);
  }
}
